@import 'base.styl'
.small-input-box {
  padding: 2px;
  border-radius: 15px;
  border: 0px;
  width: 30px;
  text-align: center;
  background: grey;
  color: white;
}
.items-list-container {
  max-height: 200px;
  overflow: auto;
}
.removeBtn {
  height: 10px !important;
}