body {
	background: #d5dde1c4 !important;
	.saveBtn{
		margin-top:15px;
		padding:10px;
		width: 100%;
	}
	.layout-padding {
		@media $desktop {
			padding: 4rem 1rem;
		}

		@media $tab {
			padding: 3rem 1rem;
		}

		@media $mobile {
			padding: 2rem 0rem;
		}
	}
	}

.link-img
{
	width: 30px;
	height: 30px;
}
