// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027be3
$secondary = #1d1d1d
$accent    = #a02bb5

$positive  = #009924
$negative  = #910415
$info      = #31ccec
$warning   = linear-gradient(to right, rgba(0, 185, 255, 0.36), rgb(0, 173, 255))
